<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Desenvolvedores - Space Soup</title>
    <link rel="stylesheet" href="../public/CSS/Menu.css">
    <link rel="stylesheet" href="../public/CSS/Desenvolvedores.css">
    <link rel="stylesheet" href="../public/CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <a href="SpaceSoupThings.html">
                    <button class="buttonDrop">Home</button>
                </a>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas.html">Planetas</a>
                    <a class="drop1"href="Estrelas.html">Estrelas</a>
                    <a class="drop1"href="Outros.html">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores.html">Desenvolvedores</a>
                    <a class="drop1"href="Suporte.html">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados.html">Dados Pessoais</a>
                    <a class="drop1"href="index.html">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Desenvolvedores</h1>
<section>
    <article>
        <h3 id="subtitulo">Quem somos:</h3>
        <div id="desenvolvedores">
        <p>2123522 - Leandro Nélio Hontman Gonçalves</p>
        <p>2167322 - Francisco Adelino Gonçalves Henriques</p>
        </div>
    </article>
</section>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
    </footer>
</div>
</body>
</html>