<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Desenvolvedores - Space Soup</title>
    <link rel="stylesheet" href="./CSS/Menu.css">
    <link rel="stylesheet" href="./CSS/Desenvolvedores.css">
    <link rel="stylesheet" href="./CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="./images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="./images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <a href="SpaceSoupThings">
                    <button class="buttonDrop">Home</button>
                </a>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas">Planetas</a>
                    <a class="drop1"href="Estrelas">Estrelas</a>
                    <a class="drop1"href="Outros">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores">Desenvolvedores</a>
                    <a class="drop1" href="Suporte">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados">Dados Pessoais</a>
                    <a class="drop1"href="PaginaInicial">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Desenvolvedores</h1>
<section>
    <article>
        <h3 id="subtitulo">Considerações Gerais:</h3>
        <div id="desenvolvedores1">
            <p> Com este projeto de Desenvolvimento baseado na Web (DBW), conseguimos criar um site interativo e divertido que também estimula o intelecto do usuário. Embora tenhamos enfrentado alguns desafios como desenvolvedores web iniciantes, implementamos com sucesso diversas funcionalidades interessantes, incluindo o uso de APIs, pop-ups e animações.
                Estamos orgulhosos do design que criamos, desde o logotipo até o nome do site.<br><br> No entanto, reconhecemos que pode haver pequenos erros de otimização para outros dispositivos móveis ou navegadores. Recomendamos o uso do Google Chrome para a melhor experiência possível.
                Apesar das limitações, acreditamos que este projeto demonstra nosso compromisso em criar uma experiência web envolvente e educacional. <br><br>Esperamos que os usuários desfrutem do site e que ele contribua para o desenvolvimento intelectual de todos que o visitam.
                Este projeto foi uma valiosa oportunidade de aprendizado e crescimento para nós como desenvolvedores web. Estamos ansiosos para aplicar as lições aprendidas em futuros projetos e continuar a melhorar nossas habilidades.


            </p>
        </div>
    </article>
</section>
<section>
    <article>
        <h3 id="subtitulo">Quem somos:</h3>
        <div id="desenvolvedores">
        <p>2123522 - Leandro Nélio Hontman Gonçalves</p>
        <p>2167322 - Francisco Adelino Gonçalves Henriques</p>
        </div>
    </article>
</section>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
    </footer>
</div>
</body>
</html>