<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estrelas</title>
    <link rel="stylesheet" href="../public/CSS/Menu.css">
    <link rel="stylesheet" href="../public/CSS/Estrela.css">
    <link rel="stylesheet" href="../public/CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <button class="buttonDrop">Home</button>
                <div class="buttonDrops">
                    <a class="drop1" href="SpaceSoupThings.html">Pagina Inicial</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Saber Mais</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas.html">Planetas</a>
                    <a class="drop1"href="Estrelas.html">Estrelas</a>
                    <a class="drop1"href="Galaxias.html">Galáxias</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="#">Desenvolvedores</a>
                    <a class="drop1"href="#">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="#">Dados Pessoais</a>
                    <a class="drop1"href="index.html">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Venha Conhecer as diversas Estrelas espalhadas pelo Universo</h1>
<section>
    <article class="CoisaEspacial">
        <h2 id="Star">Sol</h2>
        <nav>
            <img align="left" class="Planeta" src="../public/images/sun.png">
            <div class="box" id="StarBox">
                <p class="informacoes">
                    O Sol e a estrela central do nosso sistema solar, fornecendo luz, calor e energia para sustentar a vida na Terra. E uma esfera de plasma composta principalmente de hidrogenio e helio. Sua temperatura na superficie e de cerca de 5500 graus Celsius, enquanto no nucleo pode chegar a mais de 15 milhoes de graus Celsius, onde ocorrem reacoes nucleares que geram sua energia.<br>
                    O Sol possui um ciclo de atividade solar que dura cerca de 11 anos, caracterizado por mudancas na quantidade de manchas solares e ejeccoes de massa coronal. Essas atividades podem afetar as condicoes espaciais ao redor da Terra.<br>
                    Estudar o Sol e fundamental para entender os processos estelares, o clima espacial e seu impacto em nosso planeta. A observacao solar e feita com telescopios especiais que permitem estudar sua superficie, atmosfera e eventos como as explosoes solares.
                </p>
            </div>
            <div class="border">
                <img class="Estrutura_Da_Sol" align="bottom" src="../public/images/ExplosaoSolar.jpg" alt="">
                <label class="label1" >Explosao Solar</label>
                <img class="Estrutura_Da_Sol2" align="top" src="../public/images/camadas-da-atmosfera.jpg" alt="">
                <label class="label2" >Camadas Externas da Terra</label>
            </div>
        </nav>
    </article>
</section>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
        <nav>
            <ul>
                <li><a class="a_footer" href="#">Termos de uso</a></li>
                <li><a class="a_footer" href="#">Política de privacidade</a></li>
                <li><a class="a_footer" href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>