<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estrelas</title>
    <link rel="stylesheet" href="../public/CSS/Menu.css">
    <link rel="stylesheet" href="../public/CSS/Estrela.css">
    <link rel="stylesheet" href="../public/CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <button class="buttonDrop">Home</button>
                <div class="buttonDrops">
                    <a class="drop1" href="SpaceSoupThings.html">Pagina Inicial</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Saber Mais</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas.html">Planetas</a>
                    <a class="drop1"href="Estrelas.html">Estrelas</a>
                    <a class="drop1"href="Galaxias.html">Galáxias</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="#">Desenvolvedores</a>
                    <a class="drop1"href="#">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="#">Dados Pessoais</a>
                    <a class="drop1"href="index.html">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<section>
    <article class="CoisaEspacial">
        <h2 id="Star">Estrelas</h2>
        <nav>
            <img align="left" class="Planeta" src="../public/images/sun.png">
            <div class="box" id="StarBox">
                <p class="informacoes">
                    As estrelas se multiplicam usando ovos como todos sabemos, devido à existencia de ovos estrelados, após estas nascerem, elas serão estrelitas, e sim, foi dai que a Nestlé teve a ideia, após isso elas continuam crescendo para se tornarem um pequeno almoço completo
                </p>
            </div>
        </nav>
    </article>
</section>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
        <nav>
            <ul>
                <li><a class="a_footer" href="#">Termos de uso</a></li>
                <li><a class="a_footer" href="#">Política de privacidade</a></li>
                <li><a class="a_footer" href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>