<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estrelas - Space Soup</title>
    <link rel="stylesheet" href="../public/CSS/Menu.css">
    <link rel="stylesheet" href="../public/CSS/Estrela.css">
    <link rel="stylesheet" href="../public/CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <button class="buttonDrop">Home</button>
                <div class="buttonDrops">
                    <a class="drop1" href="SpaceSoupThings.html">Pagina Inicial</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas.html">Planetas</a>
                    <a class="drop1"href="Estrelas.html">Estrelas</a>
                    <a class="drop1"href="Outros.html">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores.html">Desenvolvedores</a>
                    <a class="drop1"href="Suporte.html">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados.html">Dados Pessoais</a>
                    <a class="drop1"href="index.html">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Venha Conhecer as diversas Estrelas espalhadas pelo Universo</h1>
<div class="content">
<section>
    <article class="CoisaEspacial">
        <h2 id="Star">Sol</h2>
        <nav>
            <img align="left" class="imagem" src="../public/images/sun.png">
            <div class="box" id="StarBox">
                <p class="informacoes">
                    O Sol e a estrela central do nosso sistema solar, fornecendo luz, calor e energia para sustentar a vida na Terra. E uma esfera de plasma composta principalmente de hidrogenio e helio. Sua temperatura na superficie e de cerca de 5500 graus Celsius, enquanto no nucleo pode chegar a mais de 15 milhoes de graus Celsius, onde ocorrem reacoes nucleares que geram sua energia.<br>
                    O Sol possui um ciclo de atividade solar que dura cerca de 11 anos, caracterizado por mudancas na quantidade de manchas solares e ejeccoes de massa coronal. Essas atividades podem afetar as condicoes espaciais ao redor da Terra.<br>
                    Estudar o Sol e fundamental para entender os processos estelares, o clima espacial e seu impacto em nosso imagem. A observacao solar e feita com telescopios especiais que permitem estudar sua superficie, atmosfera e eventos como as explosoes solares.
                </p> b
            </div>
            <div class="imagens">
                <img class="Estrutura_Da_Sol" align="bottom" src="../public/images/ExplosaoSolar.jpg" alt="">
                <label class="label1" >Explosao Solar</label>
                <img class="Estrutura_Da_Sol2" align="top" src="../public/images/SolRaiosGama.jpeg" alt="">
                <label class="label2" >Raios Gama do Sol</label>
            </div>
        </nav>
    </article>
</section>
    <section>
        <article class="CoisaEspacial">
            <h2 id="Estrela_Neutroes">Estrela de Neutroes</h2>
            <nav>
                <img align="left" class="imagem"src="../public/images/NeutroesStar.png">
                <div class="box" id="NeutroesBox">
                    <p class="informacoes">
                        Uma estrela de nêutrons é o remanescente denso e altamente compacto de uma estrela massiva que sofreu uma supernova. Essas estrelas extremamente densas possuem uma massa maior que a do Sol, mas um raio de apenas alguns quilômetros. A matéria em uma estrela de nêutrons é composta principalmente por nêutrons, daí o nome.<br>
                        As estrelas de nêutrons são conhecidas por sua incrível densidade, campos magnéticos intensos e rotação rápida. Elas emitem radiação em várias formas, incluindo raios-X e ondas de rádio. A descoberta das estrelas de nêutrons foi um marco na astrofísica, fornecendo insights valiosos sobre a física extrema que ocorre nessas condições.<br>
                        Essas estrelas desempenham um papel crucial na compreensão da evolução estelar e dos fenômenos cósmicos extremos. Estudar as estrelas de nêutrons ajuda os cientistas a desvendar os segredos do universo e a explorar as condições extremas que existem no cosmos.
                    </p>
                </div>
                <div class="imagens">
                    <img class="Estrutura_Da_Neutroes" align="bottom" src="../public/images/NeutroesNucleo.jpg" alt="">
                    <label class="label1" id="Label1_Neutroes">Núcleo da Estrela Neutrões</label>
                    <img class="Estrutura_Da_Neutroes2" align="top" src="../public/images/NeutroesColisao.jpeg" alt="">
                    <label class="label2" >Colisão entre Estrelas de Neutrões</label>
                </div>
            </nav>
        </article>
    </section>
    <section>
        <article class="CoisaEspacial">
            <h2 id="Stephenson">Stephenson 2-18</h2>
            <nav>
                <img align="left" class="imagem" src="../public/images/Stephenson_2-18.png" alt="">
                <div class="box" id="StephensonBox">
                    <p class="informacoes">
                        Stephenson 2-18, também conhecida como RSGC2-18 e Stephenson 2 DFK 1, é uma estrela supergigante vermelha localizada no aglomerado estelar Stephenson 2, na constelação de Escudo. Esta estrela é atualmente reconhecida como a maior estrela conhecida, com um tamanho cerca de 2.150 vezes maior que o do Sol. Situada a uma distância de aproximadamente 18.900 anos-luz da Terra, Stephenson 2-18 é uma estrela supergigante vermelha ou possivelmente uma hipergigante vermelha extrema.<br>
                        Stephenson 2-18 possui um raio estimado de 2150 vezes o raio solar, o que a torna uma das maiores estrelas já descobertas. Se substituísse o Sol no centro do nosso sistema solar, se estenderia além da órbita de Saturno. O tamanho dessa estrela corresponde a um volume cerca de 10 bilhões de vezes maior que o do Sol.<br>
                        Stephenson 2-18 representa não apenas uma maravilha astronômica, mas também um lembrete inspirador da vastidão e da diversidade que existem além de nosso planeta Terra.
                    </p> b
                </div>
                <div class="imagens">
                    <img class="Estrutura_Da_Stephenson" align="bottom" src="../public/images/StephensonComparacao.jpeg" alt="">
                    <label class="label1" id="Label1_Stephenson" >Stephenson em comparação com o Sol</label>
                    <img class="Estrutura_Da_Stephenson2" align="top" src="../public/images/StephensonBrilho.jpeg" alt="">
                    <label class="label2" id="Label2_Stephenson">Brilho da Stephenson em relação a outras Estrelas</label>
                </div>
            </nav>
        </article>
    </section>
    <section>
        <article class="CoisaEspacial">
            <h2 id="Quasi">Quasi-Star</h2>
            <nav>
                <img align="left" class="imagem" src="../public/images/QuasiStar.png">
                <div class="box" id="QuasiBox">
                    <p class="informacoes">
                        Um Quasi-Star, também conhecido como estrela de buraco negro, é um tipo hipotético de estrela extremamente massiva e luminosa que se acredita ter existido no início da história do Universo.<br>
                        Diferentemente das estrelas modernas, que são alimentadas apenas pela fusão nuclear em seus núcleos, a energia de um Quasi-Star viria do material que cai em um buraco negro em seu núcleo. Essas estrelas hipotéticas teriam tido uma vida máxima curta, aproximadamente 7 milhões de anos, durante a qual o buraco negro central cresceria para cerca de 1.000 a 10.000 massas solares. Com temperaturas superficiais previstas acima de 10.000 K, cada Quasi-Star seria tão luminoso quanto uma pequena galáxia.<br>
                        O estudo dessas estruturas teóricas amplia nossa compreensão da evolução estelar e dos fenômenos cósmicos extremos que podem ter ocorrido nos estágios iniciais do Universo.
                    </p>
                </div>
                <div class="imagens">
                    <img class="Estrutura_Da_Quasi" align="bottom" src="../public/images/QuasiStarComparacao.jpeg" alt="">
                    <label class="label1" id="label1_Quasi">Quasi-Star em compara com outras Estrelas</label>
                    <img class="Estrutura_Da_Quasi2" align="top" src="../public/images/QuasiStarEstrutura.jpeg" alt="">
                    <label class="label2" >Estrutura Interna de uma Quasi-Star</label>
                </div>
            </nav>
        </article>
    </section>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
        <nav>
            <ul>
                <li><a class="a_footer" href="#">Termos de uso</a></li>
                <li><a class="a_footer" href="#">Política de privacidade</a></li>
                <li><a class="a_footer" href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </footer>
</div>
</div>
</body>
</html>