<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/CSS/meuEstilo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Curiosidades Espaciais Tops</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../icon.png">

    <link rel="manifest" href="../site.webmanifest">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<div class="body">
    <header>
        <div>
            <nav class="navigation">
                <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
                <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
                <a class="topButtonSimple" href="#">Sobre nos</a>
            </nav>
        </div>
    </header>
    <h1 id="TITULO">Bem-vindo ao Space Soup</h1>
    <h2 id="subtitulo">A sua fonte para curiosidades sobre a sopa espacial a que chamamos de universo</h2>
    <br><br><br>
    <p class="text">Inicie sessão para continuar</p>
    <a class="topButton" href="sign_up.html">Sign up</a>
    <a class="topButton" href="login.html">Login</a>
</div>
</body>
</html>