<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/CSS/meuEstilo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Curiosidades Espaciais Tops</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../icon.png">

    <link rel="manifest" href="../site.webmanifest">
    <meta name="theme-color" content="#fafafa">
    <style class="background">
        body {
            background-image:url("../public/images/backspace.jpg") ;
        }
    </style>
</head>
<body>
<div class="body">
    <header>
        <div>
            <nav class="navigation">
                <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
                <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
                <a class="topButtonSimple" href="#">Sobre nos</a>
                <a class="topButton" href="sign_up.html">Sign up</a>
                <a class="topButton" href="login.html">Login</a>
            </nav>
        </div>
    </header>
    <h1 id="TITULO">Bem-vindo ao Space Soup</h1>
    <section>
        <article class="CoisaEspacial">
            <h2 id="Terra">Terra</h2>
            <nav>
                    <img align="left" class="Planeta" src="../public/images/terra.png">
                <div class="box" id="TerraBox">
                    <p class="informacoes">
                        O planeta Terra, nosso lar, e um fascinante e diversificado mundo. Com um diametro de aproximadamente 12.742 quilometros, e o terceiro planeta mais proximo do Sol. Sua atmosfera e composta principalmente por nitrogenio e oxigenio, tornando-a adequada para a vida como a conhecemos. A Terra abriga uma variedade impressionante de ecossistemas, desde as profundezas dos oceanos ate as alturas das montanhas. Alem disso, e o unico corpo celeste conhecido por abrigar vida. Com sete continentes e incontaveis especies de plantas e animais, a Terra e verdadeiramente unica em sua biodiversidade. Seu nucleo de ferro gera um campo magnetico que nos protege das particulas carregadas do vento solar. A historia da Terra esta escrita em suas rochas, revelando bilhoes de anos de mudancas geologicas e evolucao da vida. Este planeta extraordinario merece nossa admiracao e cuidado, pois e o unico lar que temos.
                    </p>
                </div>
                <div>
                    <img id="Estrutura_Da_Terra1" align="bottom" src="../public/images/estrutura_da_terra.jpeg" alt="">
                    <label id="label1" >Camadas Internas da Terra</label>
                    <img id="Estrutura_Da_Terra2" align="top" src="../public/images/camadas-da-atmosfera.jpg" alt="">
                    <label id="label2" >Camadas Externas da Terra</label>
                </div>
            </nav>
        </article>
    </section>
    <br><br>
    <section>
        <article class="CoisaEspacial">
            <h2 id="Venus">Venus</h2>
            <nav>
                <img align="left" class="Planeta" src="../public/images/Venus.png">
                <div class="box" id="VenusBox">
                    <p class="informacoes">
                        Venus é um planeta bem peculiar no nosso sistema solar, é um planeta com o tamanho da Terra, e para além disso, ainda algumas propriedades dele, como ser o planeta com a temperatura de superficie mais alta, apesar de ser o segundo mais proximo do sol, e não só isso mas este planeta também faz a sua rotação à volta de sí proprio no sentido contrario ao dos outros planetas, demorando 18 dias a mais para a fazer do que demora a dar a volta ao sol.
                    </p>
                </div>
            </nav>
        </article>
    </section>
    <section>
        <article class="CoisaEspacial">
            <h2 id="Star">Estrelas</h2>
            <nav>
                <img align="left" class="Planeta" src="../public/images/sun.png">
                <div class="box" id="StarBox">
                    <p class="informacoes">
                        As estrelas se multiplicam usando ovos como todos sabemos, devido à existencia de ovos estrelados
                    </p>
                </div>
            </nav>
        </article>
    </section>
</div>
</body>
</html>