<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/CSS/meuEstilo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Curiosidades Espaciais Tops</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="../icon.png">

    <link rel="manifest" href="../site.webmanifest">
    <meta name="theme-color" content="#fafafa">
    <style>
        body{
            background-image:url("../public/images/fundo_estrelado.png") ;
        }
    </style>
</head>
<body>
<div class="body">
    <header>
        <div>
            <nav class="navigation">
                <img align="left" class = "Logo" src="../public/images/fake-logo.png" alt="Fake-Nasa-Logo">
                <a class="topButtonSimple" href="#">Sobre nos</a>
                <a class="topButton" href="#">Sign up</a>
                <a class="topButton" href="#">Login</a>
            </nav>
        </div>
    </header>
    <h1 id="TITULO">Bem-vindo ao Celestial Soup</h1>
    <section>
        <article class="Planeta">
            <h2 id="Terra">Terra</h2>
            <nav>
                <img align="left" id="PlanetaTerra" src="../public/images/terra.png">
                <

            </nav>
        </article>
    </section>
</div>
</body>
</html>