<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Login</title>
    <link rel="stylesheet" href="./CSS/login.css" >
    <link rel="stylesheet" href="./CSS/Footer.css">
</head>
<body>
    <div class="login">
        <div id="Soupy_Division">
            <img align="left" id = "Logo" src="./images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="./images/preview.png" alt="Soupy-Logo">
        </div>
        <h1>Login</h1>
        <label>
            <input type="text" placeholder="Nome" required>
        </label>
        <br><br>
        <label>
            <input type="password" placeholder="Palavra-Passe" required>
        </label>
        <br><br>
        <div id="Conta2">
            <a id="Conta" href="SpaceSoupThings">
                Entrar
            </a>
        </div>
        <br>
        <a href="signup">Sign Up</a>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; 2024 - Universidade da Madeira</p>
        </footer>
    </div>
</body>
</html>