<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Login</title>
    <link rel="stylesheet" href="../public/CSS/login.css" >
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <label>
            <input type="text" placeholder="Nome">
        </label>
        <br><br>
        <label>
            <input type="password" placeholder="Palavra-Passe">
        </label>
        <br><br>
        <a id="Conta" href="SpaceSoupThings.html">
            Entrar
        </a>
        <br><br>
        <a href="sign_up.html">Sign Up</a>
    </div>
</body>
</html>