<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obrigada</title>
    <link rel="stylesheet" href="./CSS/Footer.css">
    <link rel="stylesheet" href="./CSS/MensagemSuporte.css">
    <link rel="stylesheet" href="./CSS/Menu.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="./images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="./images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <a href="SpaceSoupThings">
                    <button class="buttonDrop">Home</button>
                </a>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas">Planetas</a>
                    <a class="drop1"href="Estrelas">Estrelas</a>
                    <a class="drop1"href="Outros">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores">Desenvolvedores</a>
                    <a class="drop1"href="Suporte">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados">Dados Pessoais</a>
                    <a class="drop1" href="PaginaInicial">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
    <div class="container">
        <h1>Obrigado pelo contacto!</h1>
        <p>Em breve iremos contactá-lo de modo a resolvermos o seu problema.</p>
    </div>
    <a id="Voltar" href="Suporte">Voltar</a>
    <div class="footer">
        <footer>
            <p>&copy; 2024 - Universidade da Madeira</p>
        </footer>
    </div>
</body>

</html>
