<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obrigada</title>
    <link rel="stylesheet" href="./CSS/Footer.css">
    <link rel="stylesheet" href="./CSS/MensagemSuporte.css">
</head>
<body>
    <div class="container">
        <h1>Obrigado pelo contacto!</h1>
        <p>Em breve iremos contactá-lo de modo a resolvermos o seu problema.</p>
    </div>
    <a href="Suporte">Página Inicial</a>
    <div class="footer">
        <footer>
            <p>&copy; 2024 - Universidade da Madeira</p>
        </footer>
    </div>
</body>

</html>
