<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outros - Space Soup</title>
    <link rel="stylesheet" href="./CSS/Menu.css">
    <link rel="stylesheet" href="./CSS/Outros.css">
    <link rel="stylesheet" href="./CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="./images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="./images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <a href="SpaceSoupThings">
                    <button class="buttonDrop">Home</button>
                </a>
                <div class="buttonDrops">
                    <a class="drop1" href="SpaceSoupThings">Pagina Inicial</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas">Planetas</a>
                    <a class="drop1"href="Estrelas">Estrelas</a>
                    <a class="drop1"href="Outros">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores">Desenvolvedores</a>
                    <a class="drop1"href="Suporte">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados.ejs">Dados Pessoais</a>
                    <a class="drop1"href="index">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Venha Conhecer Outras Curiosidades sobre o nosso Universo</h1>
<section>
    <article class="CoisaEspacial">
        <h2 id="Unicornio">"Buraco Negro: Ton 618"</h2>
        <nav>
            <img align="left" class="imagem" src="./images/ton618.jpg">
            <div class="box" id="UniBox">
                <p class="informacoes">
                    O Ton 618 é o maior buraco negro confirmado que conhecemos, tendo 66 biliões de vezes a massa do nosso sol. Este buraco negro é tão grande que "consome" quantidades de materia do tamanho de algumas galaxias, e apenas o seu horizonte de eventos (a parte negra) tem 11 vezes o diametro do sistema solar.<br>
                    Este buraco negro, tal como muitos outros, ao "consumir" estas quantidades de materia acaba por brilhar com a força de 1 trilhão de estrelas
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_Da_Uni1" align="bottom" src="./images/ton618vssistemasolar.jpg" alt="">
                <label class="label1">"O Unicornio" vs Sistema Solar</label>
                <img class="Estrutura_Da_Uni2" align="top" src="./images/ton618vsterra.jpg" alt="">
                <label class="label2" >"O Unicornio" a absorver Energia</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Quasar">Quasar</h2>
        <nav>
            <img align="left" class="imagem" src="./images/Quasar.png">
            <div class="box" id="QuasarBox">
                <p class="informacoes">
                    Os quasares são objetos astronômicos extremamente luminosos e energéticos encontrados no centro de algumas galáxias. São núcleos galácticos ativos alimentados por buracos negros supermassivos, com massas que variam de milhões a dezenas de bilhões de vezes a massa do Sol. A energia emitida por um quasar é proveniente do gás que cai em direção ao buraco negro, aquece-se e libera energia na forma de radiação eletromagnética.<br>
                    Os quasares são objetos incrivelmente brilhantes, capazes de superar em luminosidade todas as estrelas nas galáxias onde residem, tornando-os visíveis mesmo a bilhões de anos-luz de distância. Eles são considerados alguns dos objetos mais distantes e luminosos conhecidos no universo.<br>
                    A descoberta dos quasares foi um marco na astronomia, revelando a presença de buracos negros supermassivos nos centros das galáxias e fornecendo insights valiosos sobre a evolução cósmica. Esses objetos desempenham um papel fundamental na compreensão da física dos buracos negros, da formação das galáxias e do impacto que têm sobre o ambiente ao seu redor.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_Da_Quasar1" align="bottom" src="./images/QuasarRealista.jpg" alt="">
                <label class="label1" >Impressao Artistica do Quasar</label>
                <img class="Estrutura_Da_Quasar2" align="top" src="./images/QuasarHubble.jpg" alt="">
                <label class="label2" >Nucleo visto pelo Telescopio Hubble</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Galaxias">Galaxias</h2>
        <nav>
            <img align="left" class="imagem" src="./images/Galaxia2.png">
            <div class="box" id="GalaxiaBox">
                <p class="informacoes">
                    As galáxias são sistemas massivos compostos por estrelas, poeira, gases e matéria escura, unidos por uma força desconhecida, teorizada ser materia negra. Elas são classificadas de acordo com sua forma em elípticas, espirais ou irregulares. As galáxias evoluem ao longo do tempo, podendo interagir umas com as outras e até mesmo fundirem-se. Além disso, muitas galáxias possuem buracos negros supermassivos em seus centros, como é o caso da Via Láctea.<br>
                    A formação das galáxias ainda é um tema debatido entre os astrônomos, com diversas teorias buscando explicar como esses sistemas se originaram após o Big Bang. Identificam-se três tipos principais de galáxias: elípticas, espirais e irregulares. As galáxias elípticas possuem forma circular e achatada, contendo estrelas antigas e pouca atividade de formação estelar.<br>
                    As interações entre as galáxias podem resultar em colisões que dão origem a novas estrelas, supernovas e até mesmo novos buracos negros. A Via Láctea, onde está localizado o Sistema Solar, é uma das galáxias mais conhecidas do Grupo Local, juntamente com Andrômeda e a Galáxia do Triângulo. Esses sistemas estelares massivos desempenham um papel fundamental na estrutura e evolução do universo.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_Da_Gal1" align="bottom" src="./images/GalaxiasVarias.jpg" alt="">
                <label class="label1" >Galaxias espalhadas pelo Universo</label>
                <img class="Estrutura_Da_Gal2" align="top" src="./images/ViaLactea.jpg" alt="">
                <label class="label2" >Imagem Ilustrativa da Via Lactea</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Universo">Universo</h2>
        <nav>
            <img align="left" class="imagem" src="./images/Universo.jpg">
            <div class="box" id="UniversoBox">
                <p class="informacoes">
                    O Universo é a totalidade do espaço, tempo, matéria e energia que compõem tudo o que existe, desde as galáxias distantes até as partículas subatômicas. Estima-se que o Universo tenha cerca de 13,8 bilhões de anos desde o Big Bang, o evento que deu origem a tudo o que conhecemos. Ele continua em expansão, um processo que começou há bilhões de anos e que moldou a estrutura cósmica que observamos hoje.<br>
                    O Universo é vasto e diversificado, contendo bilhões de galáxias, cada uma com bilhões de estrelas e sistemas planetários. A matéria escura e a energia escura, embora invisíveis, desempenham papéis fundamentais na dinâmica e evolução do Universo. A física fundamental governa os processos cósmicos, desde a formação das estrelas e galáxias até os fenômenos mais extremos, como buracos negros e quasares.<br>
                    A exploração do Universo através da astronomia e da cosmologia tem revelado descobertas incríveis sobre sua natureza e origem. A busca por compreender a origem da vida, a existência de outros mundos habitáveis e os mistérios do espaço-tempo continua a inspirar cientistas e curiosos em todo o mundo. O Universo é um vasto laboratório natural que nos desafia a expandir constantemente nosso conhecimento e compreensão do cosmos.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_Da_Universo1" align="bottom" src="./images/UniversoProfundo.jpg" alt="">
                <label class="label1" >Imagem captada pelo James Webb</label>
                <img class="Estrutura_Da_Universo2" align="top" src="./images/UniversoHubble.webp" alt="">
                <label class="label2" >Imagem captada pelo Hubble</label>
            </div>
        </nav>
    </article>
</section>








<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
        <nav>
            <ul>
                <li><a class="a_footer" href="#">Termos de uso</a></li>
                <li><a class="a_footer" href="#">Política de privacidade</a></li>
                <li><a class="a_footer" href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>