<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planetas - Space Soup</title>
    <link rel="stylesheet" href="./CSS/Menu.css">
    <link rel="stylesheet" href="./CSS/Planeta.css">
    <link rel="stylesheet" href="./CSS/Footer.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="./images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="./images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <a href="SpaceSoupThings">
                    <button class="buttonDrop">Home</button>
                </a>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas">Planetas</a>
                    <a class="drop1" href="Estrelas.html">Estrelas</a>
                    <a class="drop1" href="Outros.html">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores.html">Desenvolvedores</a>
                    <a class="drop1" href="Suporte.html">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados.html">Dados Pessoais</a>
                    <a class="drop1" href="index">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Venha Conhecer os Planetas do nosso Universo</h1>
<section>
    <article class="CoisaEspacial">
        <h2 id="Terra">Terra</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/terra.png">
            <div class="box" id="TerraBox">
                <p class="informacoes">
                    O planeta Terra, nosso lar, e um fascinante e diversificado mundo. Com um diametro de aproximadamente 12.742 quilometros, e o terceiro planeta mais proximo do Sol. Sua atmosfera e composta principalmente por nitrogenio e oxigenio, tornando-a adequada para a vida como a conhecemos. A Terra abriga uma variedade impressionante de ecossistemas, desde as profundezas dos oceanos ate as alturas das montanhas. Alem disso, e o unico corpo celeste conhecido por abrigar vida. Com sete continentes e incontaveis especies de plantas e animais, a Terra e verdadeiramente unica em sua biodiversidade. Seu nucleo de ferro gera um campo magnetico que nos protege das particulas carregadas do vento solar. A historia da Terra esta escrita em suas rochas, revelando bilhoes de anos de mudancas geologicas e evolucao da vida. Este planeta extraordinario merece nossa admiracao e cuidado, pois e o unico lar que temos.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_Da_Terra1" align="bottom" src="./images/estrutura_da_terra.jpeg" alt="">
                <label class="label1" >Camadas Internas da Terra</label>
                <img class="Estrutura_Da_Terra2" align="top" src="./images/camadas-da-atmosfera.jpg" alt="">
                <label class="label2" >Camadas Externas da Terra</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Venus">Venus</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/Venus.png">
            <div class="box" id="VenusBox">
                <p class="informacoes">
                    Venus é um planeta bem peculiar no nosso sistema solar, é um planeta com o tamanho da Terra, e para além disso, ainda algumas propriedades dele, como ser o planeta com a temperatura de superficie mais alta, apesar de ser o segundo mais proximo do sol, e não só isso mas este planeta também faz a sua rotação à volta de sí proprio no sentido contrario ao dos outros planetas, demorando 18 dias a mais para a fazer do que demora a dar a volta ao sol.
                </p>
            </div>
            <div class="imagens" >
                <img class="Estrutura_De_Venus1"  align="top" src="./images/superficies%20de%20Venus.webp" alt="">
                <label class="label1" >Superficie de Venus</label>
                <img class="Estrutura_De_Venus2"  align="top" src="./images/Curiosidades_de_Venus.jpeg" alt="">
                <label class="label2" >2º Planeta mais proximo do Sol</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Mercurio">Mercurio</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/Mercurio_Planeta.png">
            <div class="box" id="MercurioBox">
                <p class="informacoes">
                    Mercurio e o planeta mais proximo do Sol no sistema solar. E um planeta rochoso e seco, com uma superficie cheia de crateras de impacto. Sua atmosfera e muito fina e composta principalmente de oxigenio e sodio. Mercurio tem uma orbita excentrica e um periodo de rotacao muito lento. A temperatura em Mercurio varia drasticamente entre o lado iluminado pelo Sol e o lado escuro, chegando a extremos de calor e frio. Estudos recentes revelaram a presenca de gelo nas crateras polares de Mercurio, apesar das altas temperaturas na superficie.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_De_Mercurio1"  align="top" src="./images/MercurioMaisProximoDoSol.jpeg" alt="">
                <label class="label1" >Planeta mais próximo do Sol</label>
                <img class="Estrutura_De_Mercurio2"  align="top" src="./images/MercurioComparadoTerra.jpeg" alt="">
                <label class="label2" >Mercurio Comparado com a Terra</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Saturno">Saturno</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/Saturno.png">
            <div class="box" id="SaturnoBox">
                <p class="informacoes">
                    Saturno é o sexto planeta a partir do Sol e o segundo maior do Sistema Solar, depois de Júpiter. É um gigante gasoso com um raio médio de cerca de nove vezes o da Terra. Saturno é conhecido por seus impressionantes anéis, compostos principalmente de gelo, poeira e rochas. Esses anéis são compostos por inúmeras partículas que variam em tamanho, desde micrometros até metros<br>
                    A atmosfera de Saturno é predominantemente composta de hidrogênio e hélio, com traços de outros elementos. O planeta possui características distintivas, como uma grande mancha hexagonal no polo norte, que é um fenômeno atmosférico único em nosso Sistema Solar.<br>
                    O estudo de Saturno e suas luas tem proporcionado insights valiosos sobre a formação e evolução dos planetas gasosos, bem como sobre os processos atmosféricos e geológicos que ocorrem nesses mundos distantes. Saturno continua a fascinar cientistas e entusiastas da astronomia com sua beleza única e complexidade intrigante.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_De_Saturno1"  align="top" src="./images/SaturnoLuas.jpg" alt="">
                <label class="label1" >As Luas de Saturno</label>
                <img class="Estrutura_De_Saturno2"  align="top" src="./images/SaturnoNasa.webp" alt="">
                <label class="label2" id="Label2_Saturno">Foto Realista de Saturno</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Kepler-22b">Kepler-22b</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/Kepler22b.png">
            <div class="box" id="KeplerBox">
                <p class="informacoes">
                    Kepler-22b é um exoplaneta localizado a cerca de 600 anos-luz da Terra, na constelação de Cygnus. Ele foi descoberto pelo telescópio espacial Kepler em 2011 e é considerado um dos primeiros exoplanetas confirmados na zona habitável de sua estrela, o que significa que poderia ter condições adequadas para a existência de água líquida em sua superfície<br>
                    Este planeta tem um raio aproximadamente 2,4 vezes maior que o da Terra e orbita uma estrela semelhante ao Sol a uma distância que permitiria a existência de temperaturas moderadas. No entanto, devido à distância considerável entre nós e Kepler-22b, detalhes precisos sobre sua composição atmosférica e características físicas ainda são difíceis de determinar.<br>
                    A descoberta de exoplanetas como Kepler-22b é fundamental para ampliar nosso conhecimento sobre a diversidade de sistemas planetários existentes no universo e para buscar mundos potencialmente habitáveis além do nosso próprio sistema solar. Esses achados desempenham um papel crucial na busca por vida fora da Terra e na compreensão da formação e evolução dos planetas em nossa galáxia.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_De_Kepler1"  align="top" src="./images/KeplerVSoutrosPlanetas.webp" alt="">
                <label class="label1" >Kepler-22b VS Planetas</label>
                <img class="Estrutura_De_Kepler2"  align="top" src="./images/KeplerHabitavel.jpeg" alt="">
                <label class="label2" id="Label2_Kepler" >Keple-22b é Habitável?</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="J1407b">J1407b-"Saturno do Inferno"</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/J1407b.PNG">
            <div class="box" id="J1407bBox">
                <p class="informacoes">
                    O J1407B, também conhecido como "Saturno do Inferno", é um exoplaneta localizado a cerca de 434 anos-luz da Terra, na constelação de Centauro. Este planeta intrigante é conhecido por possuir anéis excepcionalmente grandes, muito maiores do que os de Saturno, com uma extensão de aproximadamente 120 milhões de quilômetros.<BR>
                    Os anéis de J1407B são compostos por partículas de poeira e gelo, e sua extensão é tão vasta que se estivessem em torno de Saturno, cobririam uma área maior que a órbita da Lua ao redor da Terra. A presença desses anéis gigantes em torno deste exoplaneta desafia as teorias convencionais sobre a formação e evolução dos sistemas planetários.
                    Estudar exoplanetas como J1407B amplia nosso entendimento da diversidade planetária no universo e nos ajuda a explorar as condições e características únicas que existem além do nosso sistema solar. A descoberta e análise desses mundos distantes são fundamentais para expandir nossa compreensão da astrofísica e da formação dos planetas.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_De_J1407b1"  align="top" src="./images/j1407B.JPG" alt="">
                <label class="label1" >Os Enormes Anéis de J1407b</label>
                <img class="Estrutura_De_J1407b2"  align="top" src="./images/j1407BvsSaturno.jpg" alt="">
                <label class="label2" >Saturno VS J1407b</label>
            </div>
        </nav>
    </article>
</section>
<section>
    <article class="CoisaEspacial">
        <h2 id="Planeta_Interstelar">Planetas interestelares</h2>
        <nav>
            <img align="left" class="Planeta" src="./images/PlanetaInterstelar.png">
            <div class="box" id="InterstelarBox">
                <p class="informacoes">
                    Os planetas interestelares, também conhecidos como planetas errantes, são mundos solitários que não estão ligados a nenhuma estrela e vagueiam livremente pela galáxia. Estes planetas não fazem parte de um sistema planetário convencional e destacam-se pela sua jornada solitária na escuridão do espaço interestelar.<br>
                    Embora a deteção direta destes planetas seja um desafio devido à falta de emissão de luz própria, foram identificados pelo menos 70 novos planetas interestelares do tamanho de Júpiter que vagueiam sozinhos pela Via Láctea. Estes mundos errantes mantêm-se quentes e brilhantes devido à sua formação recente, o que permite a sua deteção através de observações no infravermelho.<br>
                    Estudar os planetas interestelares amplia a nossa compreensão da diversidade planetária no universo e levanta questões fascinantes sobre a formação e evolução destes corpos celestes sem um lar definido. À medida que avançamos na exploração do cosmos, os planetas errantes emergem como personagens intrigantes na vasta diversidade cósmica que nos rodeia.
                </p>
            </div>
            <div class="imagens">
                <img class="Estrutura_De_Interstelar1"  align="top" src="./images/PlanetaOrfao.jpg" alt="">
                <label class="label1" >Planeta Orfão </label>
                <img class="Estrutura_De_Interstelar2"  align="top" src="./images/PlanetasOrfaos.jpg" alt="">
                <label class="label2" id="Planeta_Interstelar2">Diversos Planetas Orfãos</label>
            </div>
        </nav>
    </article>
</section>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
        <nav>
            <ul>
                <li><a class="a_footer" href="#">Termos de uso</a></li>
                <li><a class="a_footer" href="#">Política de privacidade</a></li>
                <li><a class="a_footer" href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>