<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../public/CSS/sign_up.css">
</head>
<body>
<div class="signup">
    <h1>Sign Up</h1>
    <label>
        <input type="text" placeholder="Introduza o seu Nome">
    </label>
    <br><br>
    <label>
        <input type="text" placeholder="Introduza o seu Email">
    </label>
    <br><br>
    <label>
        <input type="password" placeholder="Introduza a Palavra-Passe">
    </label>
    <br><br>
    <button>
        Sign Up
    </button>
    <br><br>
    <a href="login.html">Caso tenho já conta.Clique aqui!</a>

</div>
</body>
</html>