<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="./CSS/Footer.css">
    <link rel="stylesheet" href="./CSS/meuEstilo.css">
    <link rel="stylesheet" href="./CSS/Menu.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="./images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="./images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <a href="SpaceSoupThings">
                    <button class="buttonDrop">Home</button>
                </a>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Curiosidades</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas">Planetas</a>
                    <a class="drop1" href="Estrelas">Estrelas</a>
                    <a class="drop1" href="Outros">Outras</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Desenvolvedores">Desenvolvedores</a>
                    <a class="drop1"href="Suporte">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Dados">Dados Pessoais</a>
                    <a class="drop1"href="PaginaInicial">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Bem-vindo ao Space Soup</h1>
<h2 id="subtitulo">"A sua fonte para curiosidades sobre a sopa espacial a que chamamos de universo"</h2>
<br><br>
<div>
    <img id="galaxia" align="right" src="./images/galaxia.png">
    <p id="Objetivos">Os nossos Objetivos:</p>
    <p class="objetivos">1. Aumentar o <strong>conhecimento cultural</strong> do utilizador.</p>
    <p class="objetivos">2.<strong> Inspirar</strong> o interesse sobre o Espaço.</p>
    <p class="objetivos">3.<strong> Criar uma Comunidade</strong> de Entusiastas Espaciais.</p>
</div>
<div class="footer">
    <footer>
        <p>&copy; 2024 - Universidade da Madeira</p>
        <nav>
            <ul>
                <li><a class="a_footer" href="#">Termos de uso</a></li>
                <li><a class="a_footer" href="#">Política de privacidade</a></li>
                <li><a class="a_footer" href="#">Sobre nós</a></li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>