<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facts</title>
    <link rel="stylesheet" href="../public/CSS/meuEstilo.css">
    <link rel="stylesheet" href="../public/CSS/Menu.css">
</head>
<body>
<header>
    <div>
        <nav class="navigation">
            <img align="left" id = "Logo" src="../public/images/Space%20Soup.png" alt="Soupy-Logo">
            <img align="left" id = "nome" src="../public/images/preview.png" alt="Soupy-Logo">
            <div align="right" class="menu">
                <button class="buttonDrop">Saber Mais</button>
                <div class="buttonDrops">
                    <a class="drop1" href="Planetas.html">Planetas</a>
                    <a class="drop1"href="Estrelas.html">Estrelas</a>
                    <a class="drop1"href="Galaxias.html">Galáxias</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Sobre Nós</button>
                <div class="buttonDrops">
                    <a class="drop1" href="#">Desenvolvedores</a>
                    <a class="drop1"href="#">Suporte</a>
                </div>
            </div>
            <div align="right" class="menu">
                <button class="buttonDrop">Utilizador</button>
                <div class="buttonDrops">
                    <a class="drop1" href="#">Dados Pessoais</a>
                    <a class="drop1"href="index.html">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>
<h1 id="TITULO">Bem-vindo ao Space Soup</h1>
<h2 id="subtitulo">"A sua fonte para curiosidades sobre a sopa espacial a que chamamos de universo"</h2>
<br><br>
<div>
    <img id="galaxia" align="right" src="../public/images/galaxia.png">
    <p id="Objetivos">Os nossos Objetivos:</p>
    <p class="objetivos">1.Aumentar o <strong> conhecimento cultural </strong> do utilizador.</p>
    <p class="objetivos">2.<strong>Inspirar</strong> o interesse sobre o Espaço.</p>
    <p class="objetivos">3.<strong>Criar uma Comunidade</strong> de Entusiastas Espaciais.</p>
</div>

</body>
</html>