#TITULO {
    text-align: center;
    font-size:150px;
    margin-top: 2%;
    text-decoration: underline;
    background-image: linear-gradient(to top, darkblue, blue, dodgerblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:black;
    margin-bottom: 30px;
}

#texto {
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    color:white;
}

#button {
    text-decoration: none;
    color:white;
    text-align: center;
    font-size: 20px;
    background: blue;
    border: none;
    padding: 10px;
    border-radius: 15px;
    transition: ease-in-out 0.3s;
}

#button:hover {
    background: darkblue;
    cursor:pointer;
}

@media only screen and (max-device-width: 640px) and (min-device-width: 0px){
    #texto {
        font-size: 50px;
    }

    #button{
        font-size: 50px;
    }
}