.navigation {
    background-color: darkblue;
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    width: 100%;
    overflow:hidden;
    text-align: right;
}

.Logo{
    width:80px ;
    height: 50px;
    flex:none;
}

.nome {
    width: 274px;
    height: 50px;
    flex: none;
    margin-left: 1%;
}

.topButtonSimple{
    color: white;
    transition: ease-in-out 0.5s;
    margin-top: 20px;
}

.topButtonSimple:hover{
    color: yellow;
    text-decoration: none;
}

.topButton {

    margin-left: 10px;
    text-align: right;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    color: white;
    transition: ease-in-out 0.5s;
    margin-top: 20px;
}

.topButton:hover {
    border-radius: 25px;
    color: yellow;
    border: 2px solid yellow;
    text-decoration: none;
    font-size: 25px;
}

#TITULO{
    margin-left:1%;
    text-align: left;
    color:white;
    font-size:50px;
    margin-top: 2%;
    text-decoration: underline;
    position: relative;
    transform: translateX(0);
    transition: 1s all ease;
}

#TITULO.active{
    transform: translateX(200px);
}

#Terra{
    color:green;
    text-align: center;
    font-size: 50px ;
    font-style: italic;
}
#PlanetaTerra{
    width: 600px;
    height:600px ;
    margin-left:1%;
}

.informacoes{
    margin:2% 2% 2% 2%;
    text-align:justify;
    color:white;
    font-size:24px;
}
.box{
    /*background-image:url("../images/background_DE_texto.jpg");*/
    margin-top:0.5%;
    width:1200px;
    margin-left:650px;
    border:3px solid green;
    border-radius: 20px;
    background-color: black;
}
#Estrutura_Da_Terra1{
    position: absolute;
    width:500px ;
    height: 300px;
    margin-left:4%;
    margin-top:1%;
    border:3px solid darkblue;
}
#label1{
    margin-left:12%;
    margin-top:14.5%;
    color:white;
    font-size:18px;
    border-radius: 10px;
}
#Estrutura_Da_Terra2{
    position: absolute;
    width:500px ;
    height: 250px;
    margin-left:14%;
    margin-top:1%;
    border:3px solid darkblue;
}
#label2{
    margin-left:22%;
    margin-top:14.5%;
    color:white;
    font-size:18px;
    border-radius: 10px;
}

.background {
    position: fixed;
}